  <nav class="navbar navbar-expand-lg bg-light opacity-90 ">
  <a class="navbar-brand text-dark" routerLink="">Gpt Based Completion-Image Creator Interface</a>

  <div class="text-white align-items-center justify-content-center m-auto">
    <ul class="navbar-nav dessign ">
      <li class="nav-item active ">
          <a class=" btn btn-warning text-dark me-1" routerLink="completion">Soru Sor</a>
      </li>
      <li class="nav-item ">
        <a class=" btn btn-warning text-dark" routerLink="image">Görüntü Oluştur</a>
    </ul>
  </div>
</nav>
